.TabContainer{
    border: 1px solid black;
    width: 70%;
    height: 500px;
    display: flex;
    background-color: #FFEEDD;
}

.Tab{
    border: 1px solid black;
    width: 10%;
    height: 10%;
    background-color: #FFD8BE;
}

.active-tab{
    border-bottom: none;
    background-color: #FFEEDD;
}


/* https://coolors.co/9381ff-b8b8ff-f8f7ff-ffeedd-ffd8be */